<section id="leaderboard-panel" class="data-card flex flex-col">
  <h2 class="text-xl font-bold mb-1">LIVE <span class="text-red-500">●</span></h2>
  <p class="text-xs text-gray-400 mb-4">RACE LEADERBOARD</p>
  <div class="overflow-y-auto flex-grow">
    <table id="leaderboard-table" class="w-full text-left">
      <thead>
        <tr>
          <th class="w-8">POS</th>
          <th colspan="2">DRIVER</th>
          <th class="text-center">{{showInterval ? 'INTERVAL' : 'LEADER'}}</th>
          <th class="text-center">TIRE</th>
        </tr>
      </thead>
      <tbody id="leaderboard-body">
        @for(driver of drivers(); track driver.id; let i = $index){
          <tr class="driver-row border-b border-gray-800" [attr.data-driver-id]="driver.id" (click)="selectDriver(driver)" (mouseenter)="test(driver.code)" (mouseleave)="test()">
            @let pos = i + 1;
            <td class="text-center font-bold text-lg">{{ pos }}</td>
            <td>
              <div class="team-color-bar" [style]="'background-color:' + driver.color"></div>
            </td>
            <td>
              <div class="font-bold">{{driver.code}}</div>
              <div class="text-xs text-gray-400">{{driver.name.split(' ').pop()}}</div>
            </td>
            <td class="text-center text-sm"
              [class.fastest-lap-glow]="isFastest() === driver.id"
            >
              @if(showInterval && driver !== drivers()[0]){
                + {{driver.interval.toFixed(3)}}
              } @else if(!showInterval && driver !== drivers()[0]){
                + {{driver.distanceFromLeader.toFixed(3)}}
              } @else {
                Leader
              }
            </td>
            <td class="text-center">
              @let tire = tires()[driver.tire];
              <div class="tire-compound"
              [style.backgroundColor] = "tire.color"
              [style.borderColor] = "tire.color === 'var(--tire-hard)' ? '#888' : 'transparent'"
              title="tire.name">{{driver.tire}}</div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
