<section id="race-info-panel" class="data-card">
  <h3 class="font-bold text-lg mb-2">Race Status</h3>
  <div class="grid grid-cols-2 gap-4 text-center">
    <div class="bg-gray-900 p-3 rounded-lg">
      <p class="text-xs text-gray-400">LAP</p>
      <p id="lap-counter" class="text-2xl font-bold">{{ (currentLap() <= (raceInfo()?.laps ?? 0)) ? currentLap() + '/' + raceInfo()?.laps : 'END' }}</p>
    </div>
    <div class="bg-gray-900 p-3 rounded-lg">
      <p class="text-xs text-gray-400">SAFETY CAR</p>
      <p id="safety-car-status" class="text-2xl font-bold text-green-500">CLEAR</p>
    </div>
    <div class="bg-gray-900 p-3 rounded-lg">
      <p class="text-xs text-gray-400">AIR TEMP</p>
      <p class="text-2xl font-bold">28°C</p>
    </div>
    <div class="bg-gray-900 p-3 rounded-lg">
      <p class="text-xs text-gray-400">TRACK TEMP</p>
      <p class="text-2xl font-bold">45°C</p>
    </div>
  </div>
</section>
